*.yaml
config.py
*.csv
!df_yelp_cleaned_up.csv
!census_data.csv
*.txt
*.tsv
!manhattan_zip_codes.tsv
*.xml
*.cpg
*.png
*.dbf
*.prj
*.shp
*.shx
.DS_Store
*.pptx
.ipynb_checkpoints/*
*.pyc
*.ipynb
!Model.ipynb